/* Global styles */
html, body {
  margin: 0px;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
/* End global styles */

/* UI Customisation */
button {
  background-color: #925c9a; /* Purple */
  border-radius: 3px;
  border: 1px solid gray;
  color: white;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 1px;
  display: inline-block;
  font-size: 16px;
}
input {
  background-color: #a764a9; /* Light Purple */
  border-radius: 3px;
  margin: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
  border: 1px solid gray;
}
select {
  background-color: #a764a9; /* Light Purple */
  border-radius: 3px;
  margin: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
  border: 1px solid gray;
}

input[type="radio"] {
  margin-left: 8px;
  margin-right: 3px;
}
input[type="number"],input[type="text"] {
  width: 40%;
  margin: auto;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 1px;
  margin-bottom: 3px;
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
}
p {
  margin: 0;
  padding: 0;
}
.options p {
  font-size: 14px;
}
#finish-text{
  margin: auto;
  width: 30%;
}

/* Changes appearance of info div */
#info-hover {
  font-size: 14px;
  background-color: #925c9a; /* Purple */
  border-radius: 3px;
  border: 1px solid gray;
  color: white;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto;
  text-decoration: underline;
  display: block;
  width: 50%;
}
#button-div {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.option-block {
  background-color: #925c9a; /* Purple */
  border-radius: 3px;
  border: 1px solid gray;
  color: white;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* End UI Customisation */

/* Main program area IDs for JS selectors */
#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
  overflow-x: hidden;
}

#content {
	grid-area: content;
}

#prev {
  height: 80%;
  width: auto;
  max-width: 100%; /* squash image preview if it's extremely wide */
  display: block;
  margin-top: 5px;
}
/* End program area IDs for JS selectors */

/* Grid system for header, canvas and sidebar */
.header1 {
	grid-area: header1;
  text-align: center;
}
.header2 {
	grid-area: header2;
}
.header3 {
	grid-area: header3;
  text-align: left;
  padding-right: 20rem;
}
.header4{
  grid-area: header4;
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-width:50px;
  border-radius: 3px;
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
  padding: 7px;
}

.options{
	grid-area: options;
}

.colourSwatches{
	box-sizing: border-box;
  border-radius: 3px;
	width: 30px;
	height: 30px;
	max-height: 30px;
	max-width: 30px;
	margin: 3px;
}

.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: 70px 230px  minmax(500px, 1fr);
	grid-template-rows: 35px minmax(500px, 1fr) 160px 10px;
	grid-template-areas:
    "header1 header1 header4"
    "sidebar content content"
    "colourP colourP options"
    "footer footer footer";
	background-color: #fff;
	color: #444;
}

.header-wrap{
  display: grid;
	height: 100%;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
    "header2 header2 header3";
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
  font-family: Helvetica, sans-serif;
}

/* End grid system for header, canvas and sidebar */

/* Grid system for options box */
.options-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 30px;
  grid-template-areas:
    "left-col middle-col-1 middle-col-2 right-col"
    "bottom-row bottom-row bottom-row bottom-row";
}
.left {
  grid-area: left-col;
  text-align: center;
}
.middle-1 {
  grid-area: middle-col-1;
  text-align: center;
}
.middle-2 {
  grid-area: middle-col-2;
  text-align: center;
  display: block;
  height: 100%;
  overflow-y: scroll;
}
.right {
  grid-area: right-col;
  text-align: center;
}
.bottom {
  grid-area: bottom-row;
}

/* End grid system for options box */

/* Image tool specific styles */
#import-div {
  margin-right: 1rem;
  overflow-x: hidden;
  background: none;
  border: none;
  text-align: left;
}
#finish-button {
  margin-top: 1rem;
  align-self: left;
}

/* Atomic Classes */
/* Adds margins on the y axis, inspired by bootstrap */
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
